body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  width: 260px;
  background: #222;
  padding: 20px;
  border-radius: 12px;
}

#display {
  width: 100%;
  height: 50px;
  background: #fff;
  color: #222;
  text-align: right;
  font-size: 1.7rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background: #ddd;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #bbb;
}

button:active {
  transform: scale(0.95);
}

button:nth-child(1) {
  background: #ff4d4d;
  color: #ffffff;
}

button:nth-child(1):hover {
  background: #6e0209;
}

button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(5),
button:nth-child(9),
button:nth-child(19) {
  background: #ff8c42;
}

button:nth-child(2):hover,
button:nth-child(3):hover,
button:nth-child(4):hover,
button:nth-child(5):hover,
button:nth-child(9):hover,
button:nth-child(19):hover {
  background: #b35400;
}
